Funnel Analysis

In [1]:
# Step 1 - Import pandas
import pandas as pd

# Step 2 - Load the data from the data folder
df = pd.read_csv("../data/prospect_funnel_raw.csv")

#Step 3 - Display first few rows
df.head()

,prospect_id,region,channel,lead_date,contacted_date,engaged_date,application_date,enrolled_date
0,P0001,West,Webinar,2024-04-27,NaN,NaN,NaN,
1,P0002,Northeast,Webinar,2024-03-11,2024-03-13,2024-03-16,2024-03-20,
2,P0003,Southeast,Email,2024-05-14,2024-05-18,2024-05-19,2024-05-20,
3,P0004,West,Referral,2024-02-19,2024-02-21,2024-02-25,2024-02-28,2024-03-05
4,P0005,West,Social Media,2024-06-07,2024-06-12,2024-06-13,2024-06-19,2024-06-22

Convert all stage dates to datetime

In [3]:
# Convert all stage dates to datetime
date_cols = [
    'lead_date',
    'contacted_date',
    'engaged_date',
    'application_date',
    'enrolled_date'
]

df[date_cols] = df[date_cols].apply(pd.to_datetime, errors='coerce')

# Check data types to confirm conversion
df.dtypes

C:\Users\Oholg\AppData\Local\Temp\ipykernel_10632\3996208189.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_cols] = df[date_cols].apply(pd.to_datetime, errors='coerce')

prospect_id                 object
region                      object
channel                     object
lead_date           datetime64[ns]
contacted_date      datetime64[ns]
engaged_date        datetime64[ns]
application_date    datetime64[ns]
enrolled_date       datetime64[ns]
dtype: object

Add flags for the stage completion

In [7]:
# Add flags for the stage completion
df["stage_contacted"] = df["contacted_date"].notnull()
df["stage_engaged"] = df["engaged_date"].notnull()
df["stage_applied"] = df["application_date"].notnull()
df["stage_enrolled"] = df["enrolled_date"].notnull()

# Preview updated dataset
df[["prospect_id", "stage_contacted", "stage_engaged", "stage_applied", "stage_enrolled"]].head()

  prospect_id  stage_contacted  stage_engaged  stage_applied  stage_enrolled
0       P0001            False          False          False           False
1       P0002             True           True           True           False
2       P0003             True           True           True           False
3       P0004             True           True           True            True
4       P0005             True           True           True            True

Calculate days between funnel stages

In [9]:
# Calculate days between funnel stages
df["days_to_contact"] = (df["contacted_date"] - df["lead_date"]).dt.days
df["days_to_engage"] = (df["engaged_date"] - df["contacted_date"]).dt.days
df["days_to_apply"] = (df["application_date"] - df["engaged_date"]).dt.days
df["days_to_enroll"] = (df["enrolled_date"] - df["application_date"]).dt.days

# Preview the new timing columns
df[["prospect_id", "days_to_contact", "days_to_engage", "days_to_apply", "days_to_enroll"]].head()

  prospect_id  days_to_contact  days_to_engage  days_to_apply  days_to_enroll
0       P0001              NaN             NaN            NaN             NaN
1       P0002              2.0             3.0            4.0             NaN
2       P0003              4.0             1.0            1.0             NaN
3       P0004              2.0             4.0            3.0             6.0
4       P0005              5.0             1.0            6.0             3.0

Export cleaned data to a new CSV

In [10]:
# Export cleaned data to a new CSV
df.to_csv("../data/prospect_funnel_clean.csv", index=False)